@import 'src/styles/variables';

.welcome {
  &_title {
    display: block;
    margin: 0 auto var(--space-s);
    padding: 0;
    text-align: center;
  }

  &_description {
    display: block;
    width: 100%;
    max-width: 700px;
    padding: 0;
    margin: 0 auto 15vh;

    text-align: center;
    text-decoration: none;
  }
}

@media (max-width: 800px) {
  .welcome {
    display: block;
    width: 100%;
    height: auto;
    padding: 32px 0 0 0;

    &_title {
      width: 90%;
    }

    &_description {
      width: 90%;
    }
  }
}
